::-webkit-scrollbar {
    width: 0px;
}

main {
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    @include img($url: "../images/fundo.png");
    background-size: contain;
    background-repeat: repeat;
}

.logo {
    width: 40%;
    height: 100px;
    margin: 50px auto 40px auto;
    @include img($url: "../images/logo.png ");

    @include device(sm){
        width: 80%;
        height: 120px;
        margin: 20px auto;
        background-size: contain;
    }

    @include device(xs){
        width: 80%;
        height: 120px;
        margin: 20px auto;
        background-size: contain;
    }
}

.shape {
    width: 374px;
    height: 425px;
    shape-outside: url("../images/doll.png");
    @include img($url: "../images/doll.png", $size: contain);
    float: right;

    @include device(xs){
        display: none;
    }
    @include device(sm){
        display: none;
    }
}

.content-about {
    max-width: 60%;
    margin: 0 auto;

    @include device(sm){
        min-width: 95%;
    }

    @include device(xs){
        min-width: 95%;
    }

    p {
        @include font($size: 18px);
        color: #111;
        text-align: justify;
        word-spacing: 2px;
        letter-spacing: -0.5px;
        font-weight: 500;

        @include device(sm){
            text-align: center;
            font-size: 16px;
        }

        @include device(xs){
            text-align: center;
            font-size: 16px;
        }

        &::after {
            content: "#openlab #appliedresearch #pesquisaaplicada #pesquisa #palestra #evento #tecnologia #technology #ecosystem #empreendedorismo #inovacao";
            max-width: 60%;
            display: block;
            text-align: left;
            margin-top: 20px;
            word-spacing: 4px;
            font-size: 12px;
            @include device(sm){
                max-width: 80%;
                margin-top: 40px;
            }

            @include device(xs){
                max-width: 80%;
                margin-top: 40px;
            }
        }
    }
}

#marked-link {
    cursor: pointer;
    color: #682eb6;
}

.footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    margin-top: 20px;

    h4 {
        @include font();
        color: #111;
        @include device(sm){
            font-size: 14px;
        }

        @include device(xs){
            font-size: 14px;
        }
    }
}